* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 760px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 50%;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 16rem))[8] minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: #f2f0f1;
}

.header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10rem, 1fr) (minmax(min-content, 16rem))[7] minmax(10rem, 1fr);
      grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(-webkit-min-content, 16rem)) minmax(10rem, 1fr);
      grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  z-index: 100;
}

.first-nav {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.first-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.first-nav-item {
  list-style: none;
}

.first-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.first-nav-link:hover {
  color: #999999;
}

@media (max-width: 1200px) {
  .first-nav {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
}

@media (max-width: 1200px) {
  .first-nav {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5 / 10;
  }
}

@media (max-width: 760px) {
  .first-nav {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
  }
}

.second-nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.second-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.second-nav-item {
  list-style: none;
}

.second-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.second-nav-link:hover {
  color: #999999;
}

@media (max-width: 1000px) {
  .second-nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
}

@media (max-width: 760px) {
  .second-nav {
    grid-column: 1 / -1;
  }
}

.slideshow {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
  width: 100%;
  height: 80vh;
}

@media (max-width: 1200px) {
  .slideshow {
    height: 70vh;
  }
}

@media (max-width: 1000px) {
  .slideshow {
    height: 60vh;
  }
}

@media (max-width: 760px) {
  .slideshow {
    height: 50vh;
  }
}

.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  visibility: hidden;
  opacity: 0;
  -webkit-animation: slideshow 20s linear infinite;
          animation: slideshow 20s linear infinite;
}

.slideshow-slide img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideshow-content {
  background-color: rgba(255, 255, 238, 0.9);
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  right: 6rem;
  max-width: 40rem;
  padding: 5rem;
}

@media (max-width: 1000px) {
  .slideshow-content {
    padding: 2rem;
  }
}

.slideshow-content h2 {
  font-size: 4.2rem;
  color: #333;
}

.slideshow-content p {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.slideshow-slide:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slideshow-slide:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.slideshow-slide:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.slideshow-slide:nth-child(4) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.slideshow-slide:nth-child(5) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

@-webkit-keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.products {
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.products-heading {
  margin: 5rem 0;
}

.products-heading-text {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  color: #333;
}

.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  position: relative;
}

.product:hover .product-description {
  visibility: visible;
  opacity: 1;
}

.product:hover .product-img {
  opacity: 0.5;
}

.product-img {
  width: 100%;
  -webkit-transition: all 1s 0.3s;
  transition: all 1s 0.3s;
}

.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 238, 0.6);
  padding: 2rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  color: #333;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s 0.3s;
  transition: all 1s 0.3s;
}

@media (max-width: 1000px) {
  .product-description {
    padding: 1rem;
  }
}

@media (max-width: 560px) {
  .product-description {
    background-color: transparent;
    border: none;
  }
}

.product-description-heading {
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .product-description-heading {
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .product-description-heading {
    display: none;
  }
}

.product-description-price {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

@media (max-width: 1000px) {
  .product-description-price {
    font-size: 1.8rem;
  }
}

@media (max-width: 560px) {
  .product-description-price {
    display: none;
  }
}

.product-description-price span {
  font-weight: 600;
}

.product-description-btn {
  font-size: 1.6rem;
  text-decoration: none;
  color: #f5b149;
  display: block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #f5b149;
  background-color: #666666;
}

@media (max-width: 1000px) {
  .product-description-btn {
    padding: 0.2rem 0.5rem;
  }
}

@media (max-width: 560px) {
  .product-description-btn {
    padding: 0.5rem 0.7rem;
    width: 7rem;
  }
}

.products-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  border-top: 0.1rem solid #333;
}

@media (max-width: 1000px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-nav-heading {
  font-size: 2.5rem;
  color: #333;
}

.footer-nav-item {
  list-style: none;
  margin: 1rem 0;
}

.footer-nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
}

.contact-list-heading {
  font-size: 2.5rem;
  color: #333;
}

.contact-list-item {
  list-style: none;
  margin: 1rem 0;
}

.contact-list-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
}

@media (max-width: 1000px) {
  .contact {
    padding: 0 10rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 4rem;
  }
}

.contact-heading {
  font-size: 3rem;
  color: #333;
  text-align: center;
}

@media (max-width: 760px) {
  .contact-heading {
    font-size: 2.5rem;
  }
}

.contact-paragraph {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}

@media (max-width: 760px) {
  .contact-paragraph {
    font-size: 2rem;
  }
}

.contact .inputs-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .inputs-group input {
  padding: 1rem;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  border: 0.1rem solid #1a1a1a;
  border-radius: 0.3rem;
  outline: none;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.contact .inputs-group input:focus:not([type="submit"]) {
  border: 0.1rem solid #9c6209;
}

.contact .inputs-group-text {
  width: 50%;
}

.contact .inputs-group-email {
  width: 60%;
}

.contact .inputs-group-btn {
  width: 40%;
  color: #ffe;
  background-color: #666666;
}

.contact .inputs-group-btn:hover {
  background-color: #333;
}

.contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .social-icons-item {
  list-style: none;
}

.contact .social-icons-link {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  color: #333;
  border: 0.1rem solid #333;
  display: block;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .social-icons-link i {
  font-size: 2.5rem;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 1rem;
}

.logo-img {
  width: 10rem;
  height: 100%;
}

.heading {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-align: center;
}

.heading-text {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}

.dropdown-li {
  position: relative;
}

.dropdown-li::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: bold;
}

.dropdown-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 3rem;
  right: -2.8rem;
  width: 10rem;
  background-color: #e6e2e4;
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dropdown-item {
  list-style: none;
}

.dropdown-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-link:hover {
  color: #999999;
}

.dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 7.3rem;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e6e2e4;
  border-left: 15px solid transparent;
}

.dropdown-item {
  margin: 0.5rem 0;
}

.dropdown-link {
  font-weight: 300;
  font-size: 1.6rem;
}

.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  border: 0.1rem solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.btn:hover .btn-bg {
  width: 18rem;
}

.btn:hover .btn-text {
  color: #ffe;
}

.btn:hover .arrow {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.btn:hover .arrow-line-1 {
  width: 2rem;
}

.btn-bg {
  width: 4rem;
  height: 4rem;
  background-color: #333;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.btn-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #333;
  z-index: 10;
}

.btn .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn .arrow-line {
  height: 0.2rem;
  background-color: #ffe;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.btn .arrow-line-1 {
  width: 0;
  -webkit-transform: translateX(-0.7rem);
          transform: translateX(-0.7rem);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.btn .arrow-line-2 {
  width: 1rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.btn .arrow-line-3 {
  width: 1rem;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
/*# sourceMappingURL=main.css.map */